#sintra-link{
    font-size: small;
    margin: 1.5rem 10%; 
    text-align: center;
    position: absolute;
    bottom: 0;
}
#av-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#av-container img{
    border-radius: 50%;
    width: 50%;
    margin: 1.5rem;
}
.data-container{
    margin: 16px;
    display: flex;
    align-items: center;
}
ion-input{
    margin-left: 12px;
}