<ion-header [translucent]="true">
  <ion-toolbar sintra-background>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list lines="none">
    <ion-item routerLink="/tabs/settings/currency">
      <ion-icon color="sintra-secondary" slot="start" name="logo-euro"></ion-icon>
      <ion-label>Currency</ion-label>
    </ion-item>
    <ion-item routerLink="#">
      <ion-icon color="sintra-secondary" slot="start" name="notifications"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-item>
    <ion-item routerLink="#">
      <ion-icon color="sintra-secondary" slot="start" name="lock-closed"></ion-icon>
      <ion-label>Privacy</ion-label>
    </ion-item>
    <ion-item routerLink="#">
      <ion-icon color="sintra-secondary" slot="start" name="information-circle"></ion-icon>
      <ion-label>Informations</ion-label>
    </ion-item>
    <ion-item routerLink="#">
      <ion-icon color="sintra-secondary" slot="start" name="settings"></ion-icon>
      <ion-label>Other Settings</ion-label>
    </ion-item>
  </ion-list>
  <!-- ---------------------------------------------------------------------- -->
  <div id="buttons-container">
    <ion-button expand="block" color="light" routerLink="/tabs/settings/user">
      <ion-icon style="margin-right: 6px;" name="person-outline"></ion-icon>
      <ion-label>User</ion-label>
    </ion-button>
  
    <ion-button (click)="logoutAndRedirect()" expand="block" color="sintra-secondary">logout</ion-button>
  </div>

</ion-content>