<ion-list lines="none">
  <ion-radio-group [value]="current" (ionChange)="changeCurrency()">
    <ion-list-header>
      <ion-label>Select a currency:</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>&euro; Euro</ion-label>
      <ion-radio slot="start" value="EUR"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>&#36; Dollar</ion-label>
      <ion-radio slot="start" value="USD"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>&#165; Japanese Yen</ion-label>
      <ion-radio slot="start" value="JPY"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>&#163; Sterling</ion-label>
      <ion-radio slot="start" value="GBP"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Australian Dollar</ion-label>
      <ion-radio slot="start" value="AUD"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Canadian Dollar</ion-label>
      <ion-radio slot="start" value="CAD"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Swiss Franc</ion-label>
      <ion-radio slot="start" value="CHF"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Renmimbi</ion-label>
      <ion-radio slot="start" value="CNY"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Hong Kong Dollar</ion-label>
      <ion-radio slot="start" value="HKD"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>New Zeland Dollar</ion-label>
      <ion-radio slot="start" value="NZD"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Swedish Krona</ion-label>
      <ion-radio slot="start" value="SEK"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>South Korean Won</ion-label>
      <ion-radio slot="start" value="KRW"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Singapore Dollar</ion-label>
      <ion-radio slot="start" value="SGD"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Norwegian Krone</ion-label>
      <ion-radio slot="start" value="NOK"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Mexican Peso</ion-label>
      <ion-radio slot="start" value="MXN"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Indian Rupee</ion-label>
      <ion-radio slot="start" value="INR"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Russian Ruble</ion-label>
      <ion-radio slot="start" value="RUB"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>South African Rand</ion-label>
      <ion-radio slot="start" value="ZAR"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Turkish Lira</ion-label>
      <ion-radio slot="start" value="TRY"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Brasilian Real</ion-label>
      <ion-radio slot="start" value="BRL"></ion-radio>
    </ion-item>

  </ion-radio-group>
</ion-list>
