.container{
    height: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
}
#form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}
ion-icon{
    padding: 8px;
    font-size: 62px;
}
form{
    width: 100%;
}
ion-input{
    border: 1px solid rgb(197, 197, 197);
    border-radius: 4px;
    margin: 6px 0;
    width: 100%;
}
ion-button{
    margin: 6px 0 20%;
    width: 100%;
}
#helper{
    font-size: small;
    color: rgb(107, 107, 107);
    bottom: 0;
    margin: 1.5rem;
}