<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/settings/" routerDirection="back">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Currency Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-radio-group [value]="currency">
      <ion-list-header>
        <ion-label>Select a currency:</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Euro</ion-label>
        <ion-radio color="sintra" slot="start" value="EUR"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Dollar</ion-label>
        <ion-radio color="sintra" slot="start" value="USD"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Japanese Yen</ion-label>
        <ion-radio color="sintra" slot="start" value="JPY"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Sterling</ion-label>
        <ion-radio color="sintra" slot="start" value="GBP"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Australian Dollar</ion-label>
        <ion-radio color="sintra" slot="start" value="AUD"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Canadian Dollar</ion-label>
        <ion-radio color="sintra" slot="start" value="CAD"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Swiss Franc</ion-label>
        <ion-radio color="sintra" slot="start" value="CHF"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Renmimbi</ion-label>
        <ion-radio color="sintra" slot="start" value="CNY"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Hong Kong Dollar</ion-label>
        <ion-radio color="sintra" slot="start" value="HKD"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>New Zeland Dollar</ion-label>
        <ion-radio color="sintra" slot="start" value="NZD"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Swedish Krona</ion-label>
        <ion-radio color="sintra" slot="start" value="SEK"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>South Korean Won</ion-label>
        <ion-radio color="sintra" slot="start" value="KRW"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Singapore Dollar</ion-label>
        <ion-radio color="sintra" slot="start" value="SGD"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Norwegian Krone</ion-label>
        <ion-radio color="sintra" slot="start" value="NOK"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Mexican Peso</ion-label>
        <ion-radio color="sintra" slot="start" value="MXN"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Indian Rupee</ion-label>
        <ion-radio color="sintra" slot="start" value="INR"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Russian Ruble</ion-label>
        <ion-radio color="sintra" slot="start" value="RUB"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>South African Rand</ion-label>
        <ion-radio color="sintra" slot="start" value="ZAR"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Turkish Lira</ion-label>
        <ion-radio color="sintra" slot="start" value="TRY"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Brasilian Real</ion-label>
        <ion-radio color="sintra" slot="start" value="BRL"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>  
</ion-content>

<ion-footer>
    <ion-button (click)="changeCurrency()" routerLink="/tabs/settings/" routerDirection="back" 
    color="sintra" expand="full" fill="clear" style="margin: 0;">Ok</ion-button>
</ion-footer>
