.active{
    display: block;
}
.inactive{
    display: none;
}
.stars{
    color:#f6d12d;
}

#spinner-container{
    display: flex; 
    justify-content: 
    center; margin: 1.5rem;
}

.card-open{
    color: rgba(124, 124, 124, 0.863); 
    font-size: 12px; 
    padding-right: 16px;
    margin: 0;
    padding: 0; 
}
.card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
ion-card-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}