<ion-header [translucent]="true">
  <ion-toolbar sintra-background>
    <ion-title *ngIf="!isSearchBarOpened">
      Shops
    </ion-title>

    <ion-buttons slot="end" *ngIf="!isSearchBarOpened">
      <ion-button (click)="this.isSearchBarOpened = true; setFocus()">
        <ion-icon name="search" color="light"></ion-icon>
      </ion-button>
      <ion-button (click)="presentPopover($event)">
        <ion-icon name="ellipsis-vertical" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-searchbar id="shop-searchbar" *ngIf="isSearchBarOpened" animated="true" (ionInput)="findShop()"
      showCancelButton="always" (ionCancel)="closeSearchBar()" placeholder="Find your shop!" color="sintra">
    </ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollEvents="true" [appHideFooter]="add" [hideSpeed]="1">
  <ion-segment (ionChange)="toggleVis($event)" [value]="this.visualization" color="sintra">
    <ion-segment-button value="cards">
      <ion-icon name="albums-sharp"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="list">
      <ion-icon name="list-sharp"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <ion-fab #add vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addShop()" color="sintra">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <div #container id="container">
    <!-- cards or list dinamically allocated -->
  </div>

</ion-content>