ion-card-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#shop-searchbar{
    position: absolute;
    top: 4px;
    animation: fade-in 0.2s ease-in;
}
@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.card-open{
    color: rgba(124, 124, 124, 0.863); 
    font-size: 12px; 
    padding-right: 16px;
    margin: 0;
    padding: 0; 
}
.card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.stars{
    color:#f6d12d;
}


.active{
    height: 100%;
    opacity: 1;
    transition: height 0.2s linear, opacity 0.2s ease-in;
}
.inactive{
    height: 0px;
    opacity: 0;
    transition: height 0.2s linear, opacity 0.2s ease-out;
}

ion-fab-button[mini] {
    width: 40px;
    height: 40px;
    margin: 8px;
    line-height: 8px;
}