<ion-header>
  <ion-toolbar sintra-background>

    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/shops" routerDirection="back">
        <ion-icon name="chevron-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{shop.name}}</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/tabs/shops/shop-editor/{{id}}/edit">
        <ion-icon name="pencil" slot="start" color="light"></ion-icon>
      </ion-button>
      <ion-button (click)="presentPopover($event)">
        <ion-icon name="ellipsis-vertical" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-slides pager="true" *ngIf="shop.imgs.length!=0">
    <ion-slide *ngFor="let img of shop.imgs">
      <img [src]="img.fullpath">
    </ion-slide>
  </ion-slides>

  <div *ngIf="shop.valutation" class="stars-container">
    <ion-icon *ngFor="let star of intValutation" name="star" class="stars"></ion-icon>
    <ion-icon *ngIf="decValutation" name="star-half" class="stars"></ion-icon>
  </div>

  <ion-grid class="main-grid">
    <ion-row *ngIf="shop.street">
      <ion-col left size="3"><span class="key">Address:</span></ion-col>
      <ion-col id="address-content" size="9">
        {{shop.street}}<span *ngIf="shop.zip">,&nbsp;</span>
        {{shop.zip}}<span *ngIf="shop.city">,&nbsp;</span>
        {{shop.city}}<span *ngIf="shop.province">&nbsp;(</span>
        {{shop.province}}<span *ngIf="shop.province">)</span>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="shop.telephone">
      <ion-col left size="3"><span class="key">Phone:</span></ion-col>
      <ion-col size="9">
        <ion-chip color="sintra" outline (click)="callShop()">{{shop.telephone}}</ion-chip>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="shop.email">
      <ion-col left size="3"><span class="key">Email:</span></ion-col>
      <ion-col size="9">
        <ion-chip color="sintra" outline (click)="openEmailComposer()">{{shop.email}}</ion-chip>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!noHours()">
      <ion-col left size="3"><span class="key">Hours:</span></ion-col>
      <ion-col size="9" style="padding-left: 0">
        <ion-grid class="hours-grid">
          <ion-row *ngFor="let day of shop.hours; let i = index">
            <ion-col size="2">{{weekDays[i]}}</ion-col>
            <ion-col size="10" style="flex-wrap: wrap;">
              <span *ngIf="day.length == 0" style="color: var(--ion-color-sintra-secondary)"><em>Closed</em></span>
              <div style="display: inherit" *ngFor="let turn of day; let t = index">
                <div style="display: flex">
                  <ion-datetime readonly="true" [value]="turn.from" display-format="H:mm"></ion-datetime>
                  <span style="margin: 0 2px">-</span>
                  <ion-datetime readonly="true" [value]="turn.to" display-format="H:mm"></ion-datetime>
                </div>
                <span *ngIf="t != day.length - 1" style="margin: 0;">,&nbsp;</span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>

    <ion-toolbar>
      <ion-buttons style="justify-content: center;">
        <ion-button color="success" fill="solid" [disabled]="!this.shop.MBLink" [href]="this.shop.MBLink">
          Go to My Business
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-grid>


</ion-content>