<ion-header>
  <ion-toolbar>
    <form [formGroup]="formCtrl" (focusout)="validateInput($event.target, 'name')">
      <ion-input formControlName="name" type="text" (ionInput)="this.modified = true" placeholder="Insert shop name">
      </ion-input>
    </form>

    <ion-buttons slot="end">
      <ion-button id="discard-btn" (click)="discardAlert()">
        <ion-icon name="close" color="danger" style="font-size: x-large;"></ion-icon>
      </ion-button>
      <ion-button (click)="confirmAlert()">
        <ion-icon name="checkmark" color="primary" style="font-size: x-large;"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content fullscreen="true" scrollEvents="true" [appHideFooter]="footer">
  <ion-slides pager="true">
    <ion-slide *ngFor="let img of modifications.imgs; let imgId = index" id="slide{{imgId}}">
      <img [src]="img">
      <ion-buttons class="trash-buttons">
        <ion-button (click)="deletePhoto(imgId)">
          <ion-icon name="trash" color="danger"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-slide>
    <ion-slide>
      <div id="add-pic-container">
        <ion-buttons id="add-button">
          <ion-button style="width: 100%; height: 100%;">
            <ion-icon name="add-circle" color="light"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-grid class="main-grid">
    <ion-row>
      <ion-col size="3">Address:</ion-col>
      <ion-col size="9">
        <form [formGroup]="formCtrl" (focusout)="validateInput($event.target, 'address')">
          <ion-input formControlName="address" type="text" (ionInput)="this.modified = true"
            placeholder="Insert shop name"></ion-input>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">Phone:</ion-col>
      <ion-col size="9">
        <form [formGroup]="formCtrl" (focusout)="validateInput($event.target, 'telephone')">
          <ion-input formControlName="telephone" type="tel" (ionInput)="this.modified = true"
            placeholder="Insert number"></ion-input>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" style="align-self: flex-start;"><span>Hours:</span></ion-col>
      <ion-col size="9">
        <div style="width: 100%;">
          <div id="day{{i}}" *ngFor="let day of modifications.hours; let i = index">
            <h6 style="margin-top: 3px; margin-bottom: 6px;">{{weekDays[i]}}</h6>
            <ion-grid class="hours-grid">
              <ion-row (ionChange)="validateTurn(turn, $event); checkChangeOnEmptyTurn(i, t)" *ngFor="let turn of day; let t = index" class="turn-row">
                <ion-col size="4" class="turn">
                  <ion-datetime [(ngModel)]="turn.from" (ionFocus)="this.modified = true"
                    display-format="H:mm" picker-format="H:mm" doneText="select" value="{{turn.from}}">
                  </ion-datetime>
                </ion-col>
                <ion-col size="1" style="justify-content: center;">&#9656;</ion-col>
                <ion-col size="4" class="turn">
                  <ion-datetime [(ngModel)]="turn.to" (ionFocus)="this.modified = true"
                    display-format="H:mm" picker-format="H:mm" doneText="select" value="{{turn.to}}">
                  </ion-datetime>
                </ion-col>
                <ion-col size="3">
                  <ion-button (click)="removeTurn(i, t)" size="small" fill="clear" color="danger">
                    <ion-icon name="remove"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="9" style="border-bottom: 1px solid rgb(197, 197, 197); margin-bottom: 12px;">
                  <ion-button (click)="loadNewTurn(i)" size="small" fill="clear" style="width: 100%;">
                    <ion-icon name="add"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-toolbar>
    <h6 style="margin: auto 0 3px 16px">Google My Business Link:</h6>
    <div style="margin:0 15px">
      <form [formGroup]="formCtrl" (focusout)="validateInput($event.target, 'MBLink')">
        <ion-input formControlName="MBLink" type="url" (ionInput)="this.modified = true"
          placeholder="http://example.com"></ion-input>
      </form>
    </div>
  </ion-toolbar>

</ion-content>

<ion-footer style="bottom: -2px" #footer>
  <ion-button (click)="deleteAlert()" expand="full" fill="solid" color="danger" style="margin:0">Delete this Shop
  </ion-button>
</ion-footer>