<ion-header>
  <ion-toolbar>
    <ion-input [(ngModel)]="modifications.name" type="text" (ionInput)="this.modified = true"
    placeholder="shop name" value="{{modifications.name}}"></ion-input>

    <ion-buttons slot="end">
      <ion-button id="discard-btn" (click)="discardAlert()">
        <ion-icon name="close" color="danger" style="font-size: x-large;"></ion-icon>
      </ion-button>
      <ion-button (click)="confirmAlert()">
        <ion-icon name="checkmark" color="primary" style="font-size: x-large;"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content fullscreen="true" scrollEvents="true" [appHideFooter]="footer">
  <ion-slides pager="true">
    <ion-slide *ngFor="let img of modifications.imgs; let imgId = index" id="slide{{imgId}}">
      <img [src]="img">
      <ion-buttons class="trash-buttons">
        <ion-button (click)="deletePhoto(imgId)">
          <ion-icon name="trash" color="danger"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-slide>
    <ion-slide>
      <div id="add-pic-container">
        <ion-buttons id="add-button">
          <ion-button style="width: 100%; height: 100%;">
            <ion-icon name="add-circle" color="light"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-grid class="main-grid">
    <ion-row>
      <ion-col size="3">Address:</ion-col>
      <ion-col size="9">
        <ion-input [(ngModel)]="modifications.address" (ionInput)="this.modified = true"
          type="text" placeholder="address" value="{{modifications.address}}">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">Phone:</ion-col>
      <ion-col size="9">
        <ion-input [(ngModel)]="modifications.telephone" (ionInput)="this.modified = true"
          type="tel" placeholder="phone number" value="{{modifications.telephone}}">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" style="align-self: flex-start;"><span>Hours:</span></ion-col>
      <ion-col size="9">
        <div style="width: 100%;">
          <div id="day{{i}}" *ngFor="let day of modifications.hours; let i = index">
            <h6 style="margin-top: 3px; margin-bottom: 6px;">{{weekDays[i]}}</h6>
            <ion-grid class="hours-grid">
              <ion-row *ngFor="let turn of day; let t = index" class="turn-row">
                <ion-col size="4">
                  <ion-datetime [(ngModel)]="turn.from" (ionFocus)="this.modified = true" (ionChange)="checkChangeOnEmptyTurn(i, t)"
                    display-format="H:mm" picker-format="H:mm" doneText="select" value="{{turn.from}}">
                  </ion-datetime>
                </ion-col>
                <ion-col size="1" style="justify-content: center;">-</ion-col>
                <ion-col size="4">
                  <ion-datetime [(ngModel)]="turn.to" (ionFocus)="this.modified = true" (ionChange)="checkChangeOnEmptyTurn(i, t)"
                    display-format="H:mm" picker-format="H:mm" doneText="select" value="{{turn.to}}">
                  </ion-datetime>
                </ion-col>
                <ion-col size="3">
                  <ion-button (click)="removeTurn(i, t)" size="small" fill="clear" color="danger">
                    <ion-icon name="remove"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="9" style="border-bottom: 1px solid rgb(197, 197, 197); margin-bottom: 12px;">
                  <ion-button (click)="loadNewTurn(i)" size="small" fill="clear" style="width: 100%;">
                    <ion-icon name="add"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-toolbar> 
    <ion-buttons style="justify-content: center;">
      <ion-input [(ngModel)]="modifications.MBLink" (ionInput)="this.modified = true"
        id="gmlink" type="url" placeholder="Google My Business Link" value="{{modifications.MBLink}}">
      </ion-input>
    </ion-buttons>
  </ion-toolbar>

</ion-content>

<ion-footer style="bottom: -2px" #footer>
      <ion-button (click)="deleteAlert()" expand="full" fill="solid" color="danger" 
        style="margin:0">Delete this Shop</ion-button>
</ion-footer>