ion-input{
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    height: 2.5rem;
    transition: 0.3s;
}
ion-header ion-input{
    margin-left: 15px;
    width: 90%;
}
ion-content ion-input{
    height: 2.3rem;
}
ion-datetime{
    margin: 0;
    display: inline-block;
    padding: 2px 4px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    width: 100%;
    transition: 0.3s;
}
ion-slides{
    max-height: 30%;
}
ion-slide img{
    width: 100%;
}
.trash-buttons{
    position: absolute;
    left: 0;
    top: 0;
}
.trash-buttons ion-button{
    background-color: rgb(255, 255, 255, .8);
    border: 1px solid rgb(235, 68, 90, .5); 
    border-radius: 10px;
    height: 2rem;
    margin: 15px;
}
.trash-buttons ion-icon{
    font-size: x-large;
}
#add-pic-container{
    background-color: rgb(163, 163, 163); 
    width: 100%; 
    height: 150px;
}
#add-button{
    height: 100%;
    width: 100%;
}
#add-button ion-icon{
    font-size: 4rem;
}
.main-grid{
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main-grid ion-chip{
    margin: 0;
}
.main-grid ion-col{
    display: flex;
    align-items: center;
}
.hours-grid {
    padding: 0;
    font-size: 15px;
}
.hours-grid ion-col{
    padding: 0;
}
.turn-row{
    animation-name: slide-in;
    animation-duration: 0.2s;
}
#gmlink{
    margin: 0 15px;
}

// Animations
@keyframes slide-in{
    from{
        opacity: 0;
        height: 0;
    }
    to{
        opacity: 1;
        height: 35.3px;
    }
}
