#search-container{
    display: flex; 
    flex-wrap: nowrap; 
    align-items: center;
}
#search-container{
    animation: fade-in 0.2s ease-in;
}
#prod-searchbar{
    --box-shadow: 0;
}
#no-prod-banner{
   text-align: center; 
   color: var(--ion-color-sintra-secondary);
}

.active{
    height: 100%;
    opacity: 1;
    transition: height 0.2s linear, opacity 0.2s ease-in;
}
.inactive{
    height: 0px;
    opacity: 0;
    transition: height 0.2s linear, opacity 0.2s ease-out;
}

//Animations
@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes pulse{
    0%{
        width: 50%;
        opacity: 0;
    }
    50%{
        width: 53%;
        opacity: 1;
    }
    100%{
        width: 50%;
        opacity: 0;
    }

}