/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Custom Colors */
:root{
    // sintra
    --ion-color-sintra: #FF7043;
    --ion-color-sintra-rgb: 255,87,34;
    --ion-color-sintra-contrast: #ffffff;
    --ion-color-sintra-contrast-rgb: 255,255,255;
    --ion-color-sintra-shade: #ec5c30;
    --ion-color-sintra-tint: #ff7b53;

    // sintra-light
    --ion-color-sintra-light: #ffccbc;
    --ion-color-sintra-light-rgb: 255,204,188;
    --ion-color-sintra-light-contrast: #000000;
    --ion-color-sintra-light-contrast-rgb: 0,0,0;
    --ion-color-sintra-light-shade: #fcc4b2;
    --ion-color-sintra-light-tint: #ffe4dc;

    // sintra-secondary
    --ion-color-sintra-secondary: #607d8b;
    --ion-color-sintra-secondary-rgb: 96,125,139;
    --ion-color-sintra-secondary-contrast: #ffffff;
    --ion-color-sintra-secondary-contrast-rgb: 255,255,255;
    --ion-color-sintra-secondary-shade: #55707e;
    --ion-color-sintra-secondary-tint: #7895a3;

    // sintra-danger
    --ion-color-sintra-danger: #b71c1c;
    --ion-color-sintra-danger-rgb: 96,125,139;
    --ion-color-sintra-danger-contrast: #ffffff;
    --ion-color-sintra-danger-contrast-rgb: 255,255,255;
    --ion-color-sintra-danger-shade: #a11010;
    --ion-color-sintra-danger-tint: #c52626;


    // sintra-dark
    --ion-color-sintra-dark: #212121;
    --ion-color-sintra-dark-rgb: 33,33,33;
    --ion-color-sintra-dark-contrast: #ffffff;
    --ion-color-sintra-dark-contrast-rgb: 255,255,255;
    --ion-color-sintra-dark-shade: #141414;
    --ion-color-sintra-dark-tint: #363636;
}

.ion-color-sintra{
    --ion-color-base: var(--ion-color-sintra);
    --ion-color-base-rgb: var(--ion-color-sintra-rgb);
    --ion-color-contrast: var(--ion-color-sintra-contrast);
    --ion-color-contrast-rgb: var(--ion-color-sintra-contrast-rgb);
    --ion-color-shade: var(--ion-color-sintra-shade);
    --ion-color-tint: var(--ion-color-sintra-tint);
}
.ion-color-sintra-light{
    --ion-color-base: var(--ion-color-sintra-light);
    --ion-color-base-rgb: var(--ion-color-sintra-light-rgb);
    --ion-color-contrast: var(--ion-color-sintra-light-contrast);
    --ion-color-contrast-rgb: var(--ion-color-sintra-light-contrast-rgb);
    --ion-color-shade: var(--ion-color-sintra-light-shade);
    --ion-color-tint: var(--ion-color-sintra-light-tint);
}
.ion-color-sintra-secondary{
    --ion-color-base: var(--ion-color-sintra-secondary);
    --ion-color-base-rgb: var(--ion-color-sintra-secondary-rgb);
    --ion-color-contrast: var(--ion-color-sintra-secondary-contrast);
    --ion-color-contrast-rgb: var(--ion-color-sintra-secondary-contrast-rgb);
    --ion-color-shade: var(--ion-color-sintra-secondary-shade);
    --ion-color-tint: var(--ion-color-sintra-secondary-tint);
}
.ion-color-sintra-danger{
    --ion-color-base: var(--ion-color-sintra-danger);
    --ion-color-base-rgb: var(--ion-color-sintra-danger-rgb);
    --ion-color-contrast: var(--ion-color-sintra-danger-contrast);
    --ion-color-contrast-rgb: var(--ion-color-sintra-danger-contrast-rgb);
    --ion-color-shade: var(--ion-color-sintra-danger-shade);
    --ion-color-tint: var(--ion-color-sintra-danger-tint);
}
.ion-color-sintra-dark{
    --ion-color-base: var(--ion-color-sintra-dark);
    --ion-color-base-rgb: var(--ion-color-sintra-dark-rgb);
    --ion-color-contrast: var(--ion-color-sintra-dark-contrast);
    --ion-color-contrast-rgb: var(--ion-color-sintra-dark-contrast-rgb);
    --ion-color-shade: var(--ion-color-sintra-dark-shade);
    --ion-color-tint: var(--ion-color-sintra-dark-tint);
}

/* Custom Backgrounds */
ion-toolbar[sintra-background]{
    --background: var(--ion-color-sintra);
    --color: var(--ion-color-sintra-contrast);
}