.hours-grid {
    padding: 0;
    font-size: 16px;
}
.hours-grid ion-col{
    padding: 0;
    display: flex;
}
.turn-row{
    animation-name: turn-slide-in;
    animation-duration: 0.2s;
    align-items: center;
}
.day{
    margin: 0 0 2.5rem;
    padding: 0 0 0.5rem;
    border-bottom: 1px solid #ebebeb;
}
ion-datetime{
    margin: 0;
    display: inline-block;
    padding: 2px 4px;
    background-color: rgba(197, 197, 197, 0.384);
    border: 1px solid rgb(0,0,0,0);
    border-radius: 5px;
    width: 100%;
    transition: 0.5s;
}

.invalid-turn{
    border-color: rgb(235, 68, 90);
    background-color: rgba(216, 154, 154, 0.29);
}
.invalid-cross-turn{
    border-color: rgb(235, 68, 90);
    background-color: rgba(216, 154, 154, 0.29);
}

// Animations
@keyframes turn-slide-in{
    from{
        opacity: 0;
        height: 0;
    }
    to{
        opacity: 1;
        height: 35.3px;
    }
}
