<ion-header>
  <ion-toolbar>
    <ion-grid style="padding: 5px 15px">
      <ion-row style="align-items: center; flex-wrap: nowrap; justify-content: space-between;">
        <div style="display: flex; align-items: baseline; max-width: 65%;">
          <span style="margin: 0 1rem 0 5px;"><strong>Name:</strong></span>
          <form class="active-form" [formGroup]="formCtrl" (focusout)="saveInput('name')">
            <ion-input id="name" formControlName="name" type="text" (ionInput)="this.modified = true"
              placeholder="Insert shop name" [style]="applyRedBorders('name')">
            </ion-input>
            <span class="error-banner" [@inOutAnimation] *ngIf="formCtrl.get('name').hasError('required')">
              Name is required.
            </span>
            <span class="error-banner" [@inOutAnimation] *ngIf="formCtrl.get('name').hasError('minlength')">
              Name is too short.
            </span>
          </form>
        </div>
        <ion-buttons>
          <ion-button id="discard-btn" (click)="discardAlert()">
            <ion-icon name="close" color="sintra-danger" style="font-size: x-large;"></ion-icon>
          </ion-button>
          <ion-button (click)="confirmAlert()">
            <ion-icon name="checkmark" color="success" style="font-size: x-large;"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content id="shop-editor-content">
  <div id="gallery-container">
    <div style="display: flex; align-items: center; margin:0 15px 1rem">
      <span><strong>Pictures:</strong></span>
    </div>
    <ion-reorder-group (ionItemReorder)="reorderImgs($event)" disabled="false" lines="none">
      <ion-item *ngFor="let img of modifications.imgs; let imgId = index" id="slide{{imgId}}"
        style="--inner-border-width: 0;">
        <div *ngIf="imgId == 0; then mainImg else gallery"></div>
        <ng-template #mainImg>
          <ion-badge slot="start" color="success">{{imgId + 1}}</ion-badge>
          <img id="main-img" class="gallery-img" [src]="img.fullpath">
        </ng-template>
        <ng-template #gallery>
          <ion-badge slot="start" color="light">{{imgId + 1}}</ion-badge>
          <img class="gallery-img" [src]="img.fullpath">
        </ng-template>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </div>

  <ion-grid class="main-grid">
    <ion-row>
      <ion-col size="3"><strong>Address:</strong></ion-col>
      <ion-col size="9">
        <form class="active-form" [formGroup]="formCtrl" (focusout)="saveInput('street')">
          <ion-input formControlName="street" type="text" (ionInput)="this.modified = true"
            placeholder="Shop street" [style]="applyRedBorders('street')"></ion-input>
            <span class="error-banner" [@inOutAnimation] *ngIf="formCtrl.get('street').hasError('minlength')">
              Street is too short.
            </span>
        </form>
        <form class="active-form" [formGroup]="formCtrl" (focusout)="saveInput('zip')">
          <ion-input formControlName="zip" type="text" (ionInput)="this.modified = true"
            placeholder="Shop ZIP code" [style]="applyRedBorders('zip')"></ion-input>
            <span class="error-banner" [@inOutAnimation] *ngIf="formCtrl.get('zip').hasError('pattern')">
              It doesn't seem to be a real zip code.
            </span>
        </form>
        <form class="active-form" [formGroup]="formCtrl" (focusout)="saveInput('city')">
          <ion-input formControlName="city" type="text" (ionInput)="this.modified = true"
            placeholder="Shop city" [style]="applyRedBorders('city')"></ion-input>
            <span class="error-banner" [@inOutAnimation] *ngIf="formCtrl.get('city').hasError('pattern')">
              It doesn't seem to be a real city.
            </span>
        </form>
        <form class="active-form" [formGroup]="formCtrl" (focusout)="saveInput('province')">
          <ion-input formControlName="province" type="text" (ionInput)="this.modified = true"
            placeholder="Shop province" [style]="applyRedBorders('province')"></ion-input>
        </form>
        <form class="active-form" [formGroup]="formCtrl" (focusout)="saveInput('countryCode')">
          <ion-input formControlName="countryCode" type="text" (ionInput)="this.modified = true"
            placeholder="Shop country" [style]="applyRedBorders('countryCode')"></ion-input>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"><strong>Phone:</strong></ion-col>
      <ion-col size="9">
        <form class="active-form" [formGroup]="formCtrl" (focusout)="saveInput('telephone')">
          <ion-input formControlName="telephone" type="tel" (ionInput)="this.modified = true"
            placeholder="Insert shop number" [style]="applyRedBorders('telephone')"></ion-input>
            <span class="error-banner" [@inOutAnimation] *ngIf="formCtrl.get('telephone').hasError('pattern')">
              It doesn't seem to be a real phone number.
            </span>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"><strong>Email:</strong></ion-col>
      <ion-col size="9">
        <form [formGroup]="formCtrl" (focusout)="saveInput('email')">
          <ion-input formControlName="email" type="text" (ionInput)="this.modified = true"
            placeholder="Insert email" [style]="applyRedBorders('email')"></ion-input>
            <span class="error-banner" [@inOutAnimation] *ngIf="formCtrl.get('email').hasError('pattern')">
              It doesn't seem to be a real email.
            </span>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12"><strong>Hours:</strong></ion-col>
      <ion-col size="12">
        <div style="width: 100%;">
          <app-week-scheduler [days]="modifications.hours" (dataChange)="this.modified=true">
          </app-week-scheduler>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-toolbar>
    <div id="gmlink-container">
      <span><strong>Google My Business Link:</strong></span>
      <form class="active-form" [formGroup]="formCtrl" (focusout)="saveInput('MBLink')">
        <ion-input formControlName="MBLink" type="url" (ionInput)="this.modified = true"
          placeholder="http://example.com" [style]="applyRedBorders('MBLink')"></ion-input>
      </form>
    </div>
  </ion-toolbar>

  <ion-button *ngIf="mode === 'edit'" (click)="deleteAlert()" expand="full" fill="clear" color="sintra-danger"
    style="height: 50px; margin: 0">
    Delete this shop</ion-button>

</ion-content>
