ion-card-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-open{
    color: rgba(124, 124, 124, 0.863); 
    font-size: 12px; 
    padding-right: 16px;
    margin: 0;
    padding: 0; 
}
.card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.stars{
    color:#f6d12d;
}


.active{
    height: 100%;
    opacity: 1;
    transition: height 0.2s linear, opacity 0.2s linear;
}
.inactive{
    height: 0px;
    opacity: 0;
    transition: height 0.2s linear, opacity 0.2s linear;
}